*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.grid{
    height: 40vh;
    width: 38vw;
    background-image: linear-gradient(orange,white,green);
    position: absolute;
    left:120px;
    top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.ashoka{
    height: 24vh;
    width: 12vw;
    border-radius: 50%;
    border: 3px solid blue;
    background-image: linear-gradient(orange,white,green);
    position: absolute;
    top: 45px;
    left :180px
}
.line1{
    height:23vh;
    width: 2px;
    background-color: blue;
    position: absolute;
    left: 75px;
}
.line2{
    height: 139px;
    width: 2px;
    background-color: blue;
    position: absolute;
    left: 75px;
    transform: rotate(15deg);
}
.line3{
    height:139px;
    width: 2px;
    background-color: blue;
    position: absolute;
    
    left: 75px;
    transform: rotate(30deg);
}
.line4{
    height:140px;
    width: 2px;
    background-color: blue;
    position: absolute;
    left: 75px;
    transform: rotate(45deg);
}
.line5{
    height:144px;
    width: 2px;
    background-color: blue;
    position: absolute;
    left: 75px;
    transform: rotate(60deg);
}
.line6{
    height:147px;
    width: 2px;
    background-color: blue;
    position: absolute;
    left: 75px;
    transform: rotate(75deg);
}
.line7{
    height:148px;
    width: 2px;
    background-color: blue;
    position: absolute;
    left: 73px;
    transform: rotate(90deg);
}

.line8{
    height: 139px;
    width: 2px;
    background-color: blue;
    position: absolute;
    /* top:26px; */
    left: 73px;
    transform: rotate(-15deg);
}
.line9{
    height:140px;
    width: 2px;
    background-color: blue;
    position: absolute;
    /* top:28px; */
    left: 71px;
    transform: rotate(-30deg);
}
.line10{
    height:142px;
    width: 2px;
    background-color: blue;
    position: absolute;
    /* top:30px; */
    left: 71px;
    transform: rotate(-45deg);
}
.line11{
    height:146px;
    width: 2px;
    background-color: blue;
    position: absolute;
    /* top:32px; */
    left: 72px;
    transform: rotate(-60deg);
}
.line12{
    height:148px;
    width: 2px;
    background-color: blue;
    position: absolute;
    /* top:36px; */
    left: 73px;
    transform: rotate(-75deg);
}
.stand{
    height: 520px;
    width: 10px;
    background-color: rgb(62, 56, 56);
    position: absolute;
    top: 20px;
    left: 110px;
}
.step1{
    height: 30px;
    width: 90px;
    background-color: rgb(240, 157, 1);
    border-radius: 15px;
    position: absolute;
    top: 530px;
    left: 70px;
    box-shadow: 5px 5px 10px;
    border: 1px solid black;
}
.step2{
    height: 30px;
    width: 120px;
    background-color: rgb(246, 244, 241);
    border-radius: 15px;
    position: absolute;
    top: 560px;
    left: 55px;
    box-shadow: 5px 5px 10px;
    border: 1px solid black;
}
.step3{
    height: 30px;
    width: 150px;
    background-color: rgb(1, 189, 36);
    border-radius: 15px;
    position: absolute;
    top: 590px;
    left: 42px;
    box-shadow: 5px 5px 10px;
    border: 1px solid black;

}
.cone{
    height: 15px;
    width: 15px;
    background-color: rgb(54, 52, 52);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 107px;
}